@model Elo_fotbalek.Models.PlayerStats

@{
    ViewData["Title"] = Model.Player.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>@Model.Player.Name</h2>
<br />
<div class="row justify-content-center">
    <div class="card" style="width: 13rem;">
        <div class="card-header">Elo</div>
        <div class="card-body">
            <h5 class="card-title justify-content-center">@Model.Player.Elo</h5>
        </div>
    </div>
    @if(Model.AppConfiguration.IsSeasoningSupported)
    {
        <div class="card" style="width: 13rem;">
            <div class="card-header">Letní elo</div>
            <div class="card-body">
                <h5 class="card-title">@Model.Player.Elos.SummerElo</h5>
            </div>
        </div>
        <div class="card" style="width: 13rem;">
            <div class="card-header">Zimní elo</div>
            <div class="card-body">
                <h5 class="card-title">@Model.Player.Elos.WinterElo</h5>
            </div>
        </div>
    }
    <div class="card" style="width: 13rem;">
        <div class="card-header">Nejvyšší elo</div>
        <div class="card-body">
            <h5 class="card-title text-success">@Model.MaxElo</h5>
        </div>
    </div>
    <div class="card" style="width: 13rem;">
        <div class="card-header">Nejnižší elo</div>
        <div class="card-body">
            <h5 class="card-title text-danger">@Model.MinElo</h5>
        </div>
    </div>
</div>
<br />
<br />
<div class="row justify-content-center">
    <div class="card" style="width: 13rem;">
        <div class="card-header">Počet výher</div>
        <div class="card-body text-success">
            <h5 class="card-title">@((Model.Player.AmountOfWins?.BigMatches + Model.Player.AmountOfWins?.SmallMatches) ?? 0)</h5>
            @if(Model.AppConfiguration.IsSmallMatchesEnabled)
            {
                <h7 class="card-title">Velké zápasy: @(Model.Player.AmountOfWins?.BigMatches ?? 0)</h7>
                <br />
                <h7 class="card-title">Malé zápasy: @(Model.Player.AmountOfWins?.SmallMatches ?? 0)</h7>
            }

        </div>
    </div>
    <div class="card" style="width: 13rem;">
        <div class="card-header">Počet proher</div>
        <div class="card-body text-danger">
            <h5 class="card-title">@((Model.Player.AmountOfLooses?.BigMatches + Model.Player.AmountOfLooses?.SmallMatches) ?? 0)</h5>
            @if (Model.AppConfiguration.IsSmallMatchesEnabled)
            {
                <h7 class="card-title">Velké zápasy: @(
                Model.Player.AmountOfLooses?.BigMatches ?? 0
                )</h7>
                <br />
                <h7 class="card-title">Malé zápasy: @(
                Model.Player.AmountOfLooses?.SmallMatches ?? 0
                )</h7>
            }

        </div>
    </div>
    <div class="card" style="width: 13rem;">
        <div class="card-header">Počet remíz</div>
        <div class="card-body text-warning">
            @if (Model.AppConfiguration.IsSmallMatchesEnabled)
            {
                <h5 class="card-title">@(
                 (Model.Player.AmountOfTies?.BigMatches + Model.Player.AmountOfTies?.SmallMatches) ?? 0
                 )</h5>
                <h7 class="card-title">Velké zápasy: @(
                Model.Player.AmountOfTies?.BigMatches ?? 0
                )</h7>
                <br />
                <h7 class="card-title">Malé zápasy: @(
                Model.Player.AmountOfTies?.SmallMatches ?? 0
                )</h7>
            }
        </div>
    </div>
    <div class="card" style="width: 13rem;">
        <div class="card-header">Odehraných  zápasu</div>
        <div class="card-body">
            <h5 class="card-title">@Model.PlayedMatches</h5>
        </div>
    </div>
    <div class="card" style="width: 13rem;">
        <div class="card-header">Účast (6 měsíců)</div>
        <div class="card-body">
            <h5 class="card-title">@Model.Attandance%</h5>
        </div>
    </div>
    <div class="card" style="width: 13rem;">
        <div class="card-header">Účast (celková)</div>
        <div class="card-body">
            <h5 class="card-title">@Model.TotalAttendance%</h5>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div id="curve_chart" style="width: 1200px; height: 700px"></div>
</div>

<script type="text/javascript">
    var data = @Html.Raw(Json.Serialize(Model.Elos));
    var elos = [];
    for (var x of data) {
        var item = [];
        item.push(new Date(x.dateTime));
        item.push(x.elo);
        elos.push(item);
    }
</script >